* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code Mono for Powerline", "Fira Code", "Courier New", Courier, monospace;
}

body {
  background-color: rgb(41, 41, 41);
  display: grid;
  place-content: center;
  height: 100vh;
  color: white;
}

#container {
  /* background-color: rgb(54, 54, 54); */
  padding: 1rem 2rem;
}

#container > div {
  background-color: rgb(73, 73, 73);
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  width: min-content;
  display: flex;
  gap: 0.5rem;
}

#container span {
  color: rgb(160, 160, 160);
  width: 6rem;
}

#inputText,
#wrappedText {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1rem;
  color: white;
}

#inputText {
  background-color: rgb(73, 73, 73);
  border: none;
  width: 60rem;
}

#wrappedText {
}
